{{#contentFor 'pageStyles'}}
<link href="//cdn.jsdelivr.net/select2/3.4.8/select2.css" rel="stylesheet"/>
<link href="/public/css/select2-bootstrap.css" rel="stylesheet"/>
<!-- <link rel="stylesheet" href="http://ivaynberg.github.io/select2/select2-3.4.2/select2.css"> -->
<!-- <link rel="stylesheet" href="http://fk.github.io/select2-bootstrap-css/css/select2-bootstrap.css"> -->

{{/contentFor}}
{{#contentFor 'pageScripts'}}
<script language="javascript" type="text/javascript" src="//cdn.jsdelivr.net/select2/3.4.8/select2.min.js"></script>
<script language="javascript" type="text/javascript" src="/public/js/flot/jquery.flot.min.js"></script>
<script language="javascript" type="text/javascript" src="/public/js/flot/jquery.flot.selection.min.js"></script>
<script language="javascript" type="text/javascript" src="/public/js/flot/jquery.flot.time.min.js"></script>
<script>
  $(function() {
		var options = {
			lines: {
				show: true
			},
			points: {
				show: true
			},
			selection: {
				mode: "x"
			},			
			xaxis: {
				mode: "time",
				minTickSize: [1, "hour"],
				twelveHourClock: true
			},
			grid: {
				hoverable: true,
				borderWidth: 1,
				borderColor: '#DDD'
			},
		};

		var flotGraph = $("#flot-graph");

		flotGraph.bind("plotselected", function (event, ranges) {
			$.each(plot.getXAxes(), function(_, axis) {
				var opts = axis.options;
				opts.min = ranges.xaxis.from;
				opts.max = ranges.xaxis.to;
			});
			plot.setupGrid();
			plot.draw();
			plot.clearSelection();
		});

		$("<div id='tooltip'></div>").css({
			position: "absolute",
			display: "none",
			border: "1px solid #fdd",
			padding: "2px",
			"background-color": "#fee",
			opacity: 0.80
		}).appendTo("body");

		flotGraph.bind("plothover", function (event, pos, item) {
			if (item) {
				var x = item.datapoint[0].toFixed(2),
					y = item.datapoint[1].toFixed(2);
				x = new Date(item.datapoint[0]).toISOString();
				$("#tooltip").html(item.series.label + " of " + x + " = " + y)
					.css({top: item.pageY+5, left: item.pageX+5})
					.fadeIn(200);
			} else {
				$("#tooltip").hide();
			}
		});

		var data = [];

		var plot = $.plot(flotGraph, data, options);

		// form gui functions
		// get graph range type
		var getGraphRangeType = function(){
			return $('#graph-range-type-group input:checked').val();
		}
		// fetch the series
		var fetchData = function(rrddatafile, type) {
			return $.ajax({ // It's necessary to return ajax call 
				type: 'GET',
				url: '/rrd/'+rrddatafile,
				data: {timeRange: type},
				dataType: 'json',
		    }).done(function(json){
				data.push(json);
			});
		}
		// render the graph
		var graphData = function(){
			// for each selected series, fetch data and then plot graph
			data = [];
			var calls = [];
			var type = getGraphRangeType();
			$('#rrddata-selected option').each(function(){
				calls.push(fetchData($(this).val(), type));
			});
			// make all calls - wait for it to return...
			$.when.apply($, calls ).then(function() {
				plot = $.plot("#flot-graph", data, options);
			});
		}

		// graph range type
		// set Day as default
		$('#graph-range-type-group label:first-child').button("toggle");
		// on change make, redraw
		$('#graph-range-type-group input').bind('change', graphData);
		
		// rrdddata selection
		// set up select2, on change, add to selected
		$("#rrddata").select2({ placeholder: "Select a data series" });
		// bind change - use flot-graph namespace in case of conflict
		$("#rrddata").bind('change.flot-graph', function(){ 
			var data = $("#rrddata").select2("data");
			$('#rrddata-selected').append($("<option></option>").attr("value",data.id).text(data.text));
		});
		// remove from selected
		$("#rrddata-remove-btn").bind('click', function(){
			$('#rrddata-selected option:checked').remove();
		});
		
		$('#graph-btn').bind('click', graphData);
  });
</script>
{{/contentFor}}

<h1>{{title}}</h1>
<div class="row">
	<div class="col-sm-1">
		<div id="graph-range-type-group" class="btn-group-vertical" data-toggle="buttons">
			<label class="btn btn-default graph-range-type-btn"><input type="radio" name="graph-range-type" id="graph-range-type-day" value="d">Day</label>
			<label class="btn btn-default graph-range-type-btn"><input type="radio" name="graph-range-type" id="graph-range-type-week" value="w">Week</label>
			<label class="btn btn-default graph-range-type-btn"><input type="radio" name="graph-range-type" id="graph-range-type-month" value="m">Month</label>
			<label class="btn btn-default graph-range-type-btn"><input type="radio" name="graph-range-type" id="graph-range-type-year" value="y">Year</label>
		</div>
	</div>
	<div class="col-sm-11">
		<div class="graph-container">
			<div id="flot-graph" class="flot-graph-container"></div>
		</div>
	</div>
</div>

<div class="row">
	<p></p>
	<form id="rrddata-form">
		<div class="form-group col-sm-5">
			<label for="rrddata"><h3>Data</h3></label>
			<select id="rrddata" class="form-control select2">
				<option value=""></option>
				<optgroup label="VMP">
					<option value="vcpcs1-nginx_request-request-d.rrd">vcpcs1: Nginx requests</option>
					<option value="vcpcs2-nginx_request-request-d.rrd">vcpcs2: Nginx requests</option>
					<option value="vmpcs1-nginx_request-request-d.rrd">vmpcs1: Nginx requests</option>
					<option value="vmpcs2-nginx_request-request-d.rrd">vmpcs2: Nginx requests</option>
				</optgroup>
			</select>
		</div>
		  <div class="form-group col-sm-5">
			<label for="rrddata"><h3>Selected</h3></label>
			<select class="form-control" id="rrddata-selected"  multiple="multiple" size="8"></select>
		</div>
		<div class="form-group col-sm-2 rrddata-actions">
			<button class="btn btn-default btn-block" type="button" id="graph-btn"><span class="glyphicon glyphicon-signal"></span> Graph</button>
			<button class="btn btn-default btn-block" type="button" id="rrddata-remove-btn"><span class="glyphicon glyphicon-remove-circle"></span> Remove</button>
			<button class="btn btn-default btn-block" type="button" id="rrddata-clear-btn"><span class="glyphicon glyphicon-ban-circle"></span> Clear</button>
		</div>
	</form>
</div>