{{#contentFor 'pageStyles'}}
<link href="//cdn.jsdelivr.net/select2/3.4.8/select2.css" rel="stylesheet"/>
<link href="/public/css/select2-bootstrap.css" rel="stylesheet"/>
<!-- <link rel="stylesheet" href="http://ivaynberg.github.io/select2/select2-3.4.2/select2.css"> -->
<!-- <link rel="stylesheet" href="http://fk.github.io/select2-bootstrap-css/css/select2-bootstrap.css"> -->

{{/contentFor}}
{{#contentFor 'pageScripts'}}
<script language="javascript" type="text/javascript" src="//cdn.jsdelivr.net/select2/3.4.8/select2.min.js"></script>
<script language="javascript" type="text/javascript" src="/public/js/flot/jquery.flot.min.js"></script>
<script language="javascript" type="text/javascript" src="/public/js/flot/jquery.flot.selection.min.js"></script>
<script language="javascript" type="text/javascript" src="/public/js/flot/jquery.flot.time.min.js"></script>
<script>
  $(function() {
		var options = {
			lines: {
				show: true
			},
			points: {
				show: true
			},
			selection: {
				mode: "x"
			},			
			xaxis: {
				mode: "time",
				minTickSize: [1, "hour"],
				twelveHourClock: true
			},
			grid: {
				hoverable: true,
				borderWidth: 1,
				borderColor: '#DDD'
			},
			legend: {
				show: false,
			}
		};

		var flotGraph = $("#flot-graph");

		flotGraph.on("plotselected", function (event, ranges) {
			$.each(plot.getXAxes(), function(_, axis) {
				var opts = axis.options;
				opts.min = ranges.xaxis.from;
				opts.max = ranges.xaxis.to;
			});
			plot.setupGrid();
			plot.draw();
			plot.clearSelection();
		});

		$("<div id='flot-tooltip'></div>").appendTo("body");

		flotGraph.on("plothover", function (event, pos, item) {
			if (item) {
				var x = item.datapoint[0].toFixed(2),
					y = item.datapoint[1].toFixed(2);
				x = new Date(item.datapoint[0]).toISOString();
				$("#flot-tooltip").html(item.series.label + " <br/> " + x + " <br/> " + y)
					.css({top: item.pageY+5, left: item.pageX+5, 'background-color': item.series.color})
					.fadeIn(200);
			} else {
				$("#flot-tooltip").hide();
			}
		});

		var data = {};

		var plot = $.plot(flotGraph, data, options);

		// form gui functions
		// get graph range type
		var getGraphRangeType = function(){
			return $('#graph-range-type-group input:checked').val();
		}
		// fetch the series
		var fetchData = function(rrddatafile, type) {
			return $.ajax({ // It's necessary to return ajax call 
				type: 'GET',
				url: '/data/rrd'+rrddatafile,
				data: {timeRange: type},
				dataType: 'json',
		    }).done(function(json){
				data[rrddatafile] = json;
			});
		}
		// render the graph
		var graphData = function(){
			// for each selected series, fetch data and then plot graph
			data = {};
			var calls = [];
			var type = getGraphRangeType();
			$('#rrddata-selected input:checked').each(function(){
				calls.push(fetchData($(this).val(), type));
			});
			// make all calls - wait for them to return...
			$.when.apply($, calls ).then(function() {
				var sortedData = [];
				$('#rrddata-selected input:checked').each(function(){
					sortedData.push(data[$(this).val()]);
				});
				plot = $.plot("#flot-graph", sortedData, options);
				$('#rrddata-selected label.legend-marker span').each(function(){
					$(this).css('background-color','#DDD');
				});
				var series = plot.getData();
				var i = 0;
				$('#rrddata-selected input:checked').each(function(){
					var label = $(this).parent();
					var marker = label.prev();
					var legendSpan = marker.find('span');
					legendSpan.css('background-color', series[i].color);
					i++;
				});
			});
		}
		
		var cleanDatafileId = function(id){
			return id.replace(/\//g,'_');
		}
		
		var rrddataSelectedCheckbox = function(id, name){
			var checkbox = '<div class="checkbox" id="rrddata-selected-'+cleanDatafileId(id)+'"> \
				<label class="legend-marker" for="rrddata-selected-'+cleanDatafileId(id)+'-chk"><span></span></label> \
			  <label> \
			    <input id="rrddata-selected-'+cleanDatafileId(id)+'-chk" type="checkbox" checked="checked" value="'+id+'"></input> \
				'+name+' \
			  </label> \
			</div>';
			return $(checkbox);
		}

		var rdddataSelect = function(e){ 
			var cleanId = cleanDatafileId(e.val);
			var found = false;
			$('#rrddata-selected').find('div').each(function(){
				if ($(this).attr('id') == 'rrddata-selected-'+cleanId){
					found = true;
					return false;
				}
			});
			if (found){
				return;
			}
			$('#rrddata-selected').append(rrddataSelectedCheckbox(e.val, e.object.text));
		};

		var setRRDDataSelection = function(datafile){
			datafile.sort(function(a,b){
				if (a.text < b.text)
				     return -1;
				  if (a.text > b.text)
				    return 1;
				  return 0;
			});
			// rrdddata selection
			$("#rrddata").prop('disabled', false);
			// set up select2, on change, add to selected
			$('#rrddata-empty').hide();
			var rrdataSelect2 = $("#rrddata").select2({ placeholder: "Select a data series", data: datafile}).on('select2-selecting', rdddataSelect);
		}
		
		var getRRDDataSelection = function(e){
			var optionSelected = $(e.target).find("option:selected");
			var val = optionSelected.val();
			if (val == undefined || val.length == 0){
				return;
			}
			// disable while we update
			$("#rrddata").prop('disabled', true);
			$.getJSON('/data/dataopts/list/'+val+'?format=selectopts').done(setRRDDataSelection);
		}
		
		var getRRDDataHost = function(e){
			var optionSelected = $(e.target).find("option:selected");
			var val = optionSelected.val();
			if (val == undefined || val.length == 0){
				val = '_all';
			}
			// disable while we update
			$("#rrddata-hosts").prop('disabled', true);
			$.getJSON('/data/dataopts/hosts/'+val+'?format=selectopts').done(setRRDDataHost);
		}
		
		var setRRDDataGroup = function(groups){
			groups.sort();
			$('#rrddata-group').append($("<option>Any group</option>"));
			for (id in groups){
				$('#rrddata-group').append($("<option></option>").attr("value",groups[id]).text(groups[id]));
			}
			$("#rrddata-group").prop('disabled', false);
		}
		
		var setRRDDataHost = function(hosts){
			hosts.sort();
			// clear out old values
			$('#rrddata-host option').remove();
			$('#rrddata-host').append($("<option>Choose a host</option>"));
			for (id in hosts){
				$('#rrddata-host').append($("<option></option>").attr("value",hosts[id]).text(hosts[id]));
			}
			$('#rrddata-host').prop('disabled', false);
		}

		// graph range type
		// set Day as default
		$('#graph-range-type-group label:first-child').button("toggle");
		// on change make, redraw
		$('#graph-range-type-group input').on('change', graphData);

		// group dropdown
		$('#rrddata-group').prop('disabled', true);
		$('#rrddata-group').on('change', getRRDDataHost);

		// host dropdown
		$('#rrddata-host').prop('disabled', true);
		$('#rrddata-host').on('change', getRRDDataSelection);
		
		// bind change - use flot-graph namespace in case of conflict
		$('#rrddata').prop('disabled', true);
		
		// remove from selected
		$("#rrddata-remove-btn").on('click', function(){
			$('#rrddata-selected input:checked').parent().parent().remove();
		});
		// clear selected
		$("#rrddata-clear-btn").on('click', function(){
			$('#rrddata-selected div').remove();
		});
		// get the dataopts and enable
		$.getJSON('/data/dataopts/groups').done(setRRDDataGroup);

		// get the dataopts and enable
		$.getJSON('/data/dataopts/hosts/_all').done(setRRDDataHost);
		
		$('#graph-btn').on('click', graphData);
		
  });
</script>
{{/contentFor}}

<h1>{{title}}</h1>
<div class="row">
	<div class="col-sm-1">
		<div id="graph-range-type-group" class="btn-group-vertical" data-toggle="buttons">
			<label class="btn btn-default graph-range-type-btn"><input type="radio" name="graph-range-type" id="graph-range-type-day" value="d">Day</label>
			<label class="btn btn-default graph-range-type-btn"><input type="radio" name="graph-range-type" id="graph-range-type-week" value="w">Week</label>
			<label class="btn btn-default graph-range-type-btn"><input type="radio" name="graph-range-type" id="graph-range-type-month" value="m">Month</label>
			<label class="btn btn-default graph-range-type-btn"><input type="radio" name="graph-range-type" id="graph-range-type-year" value="y">Year</label>
		</div>
	</div>
	<div class="col-sm-11">
		<div class="graph-container">
			<div id="flot-graph" class="flot-graph-container"></div>
		</div>
	</div>
</div>

<div class="row">
	<p></p>
	<form id="rrddata-form">
		<div class="col-sm-5">
			<div class="form-group col-sm-6">
				<label for="rrddata"><h3>Group</h3></label>
				<select class="form-control" id="rrddata-group"></select>
			</div>
			<div class="form-group col-sm-6">
				<label for="rrddata"><h3>Host</h3></label>
				<select class="form-control" id="rrddata-host"></select>
			</div>
			<div class="form-group col-sm-12">
				<label for="rrddata"><h3>Metric</h3></label>
				<input type="hidden" id="rrddata" class="form-control"/>
				<select id="rrddata-empty" class="form-control"></select>
			</div>
		</div>
		<div class="form-group col-sm-5">
			<label for="rrddata"><h3>Selected</h3></label>
			<div id="rrddata-selected" class="well">
			</div>
		</div>
		<div class="form-group col-sm-2 rrddata-actions">
			<button class="btn btn-default btn-block" type="button" id="graph-btn"><span class="glyphicon glyphicon-signal"></span> Graph</button>
			<button class="btn btn-default btn-block" type="button" id="rrddata-remove-btn"><span class="glyphicon glyphicon-remove-circle"></span> Remove</button>
			<button class="btn btn-default btn-block" type="button" id="rrddata-clear-btn"><span class="glyphicon glyphicon-ban-circle"></span> Clear</button>
		</div>
	</form>

	<div class="checkbox template-rrddata-selected">
		<label class="legend-marker"><span></span></label>
	  <label>
	    <input type="checkbox"/>
	  </label>
	</div>
	
</div>