{{#contentFor 'pageStyles'}}
{{/contentFor}}


{{#contentFor 'pageScripts'}}
{{/contentFor}}

<div class="jumbotron">
<h1>{{title}}</h1>
<p class="lead">{{lead}}</p>
<p><a class="btn btn-lg btn-success" href="/graph" role="button">Compare</a></p>
</div>